
<a href='/' class="btn btn-primary" role="button">Return Home</a>
<a href='/brands' class="btn btn-primary" role="button">Return to brands</a>
<a href='/new_store' class="btn btn-primary" role="button">Add a store</a>
<a href='/new_brand' class="btn btn-primary" role="button">Add A Brand</a>


<h1>Welcome! A list of all brands of shoes listed below:</h1>
<% if @brands.any? %>
  <% @brands.each do |brand| %>
  <ul>
    <li><a href="/brands/<%=brand.id %>"><%=brand.name %></a></li>
  </ul>
  <% end %>
<% else %>
  <p>There are no brands yet.</p>
<% end %>
