<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/styles.css">
    <title>Shoe Mania</title>
  </head>
  <body>
    <div class="jumbotron">
      <center><h2>Shoe Obsession</h2></center>
      <center><p>Find your favorite brands and locations that carry them. </p></center>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
