<h1>Add a new store</h1>

<form class="form-group" action='/new_store' method="post">
  <label for="name">Enter a Store name:</label>
  <input type="text" name="new_store_name" >
  <br>

  <button type="submit"  class="btn button" >Submit</button>

</form>
