<h1>Add a new brand:</h1>

<form class="form-group" action='/new_brand' method="post">
  <label for="name">Enter a Brand name:</label>
  <input type="text" name="new_brand_name" >
  <br>
  <label for="price">Enter a price for this brand: $</label>
  <input type="text" name="price">
  <button type="submit"  class="btn button" >Submit</button>

</form>
