<h1>Stores:</h1>

<% if @stores.any? %>
  <% @stores.each do |store| %>
  <ul>
    <li><a href="/stores/<%=store.id %>"><%=store.name %></a></li>
  </ul>
  <% end %>
<% else %>
  <p>There are no stores yet.</p>
<% end %>
