
<a href='/' class="btn btn-primary" role="button">Return Home</a>
<a href='/brands' class="btn btn-primary" role="button">Return to brands</a>
<a href='/new_store' class="btn btn-primary" role="button">Add a store</a>
<a href='/new_brand' class="btn btn-primary" role="button">Add A Brand</a>
<h1>Stores:</h1>

<% if @stores.any? %>
  <% @stores.each do |store| %>
  <ul>
    <li><a href="/stores/<%=store.id %>"><%=store.name %></a></li>
  </ul>
  <% end %>
<% else %>
  <p>There are no stores yet.</p>
<% end %>
